functions-framework==3.*
cloudevents
google-events
googleapis-common-protos
google-generativeai
firebase-admin
google-api-python-client
beautifulsoup4
google-cloud-pubsub
feedparser
vertexai==1.71.1
google-cloud-aiplatform[all]==1.71.1